* {
    border: none;
    border-radius: 0;
    font-family:
        "FiraCode Nerd Font Propo", Roboto, Helvetica, Arial, sans-serif;
    font-size: 16px;

    min-height: 0;
    margin: 0;
    padding: 0;
}

window#waybar {
    background: rgba(43, 48, 59, 0.5);
    color: white;
}

window#waybar > box {
    padding: 4px 0;
}

tooltip {
    background: rgba(43, 48, 59, 0.5);
    border: 1px solid rgba(100, 114, 125, 0.5);
}
tooltip label {
    color: white;
}

#workspaces button {
    padding: 6px 6px;
    background: transparent;
    color: white;
    border-bottom: 3px solid transparent;
}

#workspaces button.active {
    color: #6f00ff;
}

#clock {
    padding: 4px 12px;
    background-color: #6f00ff;
    border-radius: 20px;
    font-weight: bold;
}

#pulseaudio {
    padding: 6px;
    margin: 0 6px;
}

#network {
    padding: 6px;
    margin: 0 6px;
}
